#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 *
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 *
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 *
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
/*
 * The class generated by JavaCC/csharp (by TokenManagerGenerator.java
 *  with csharp/TokenManagerDriver.template) that tokenizes input for the parser.
 */
public partial class ${parserName}TokenManager : ${tmSuperClass?${tmSuperClass}, :}${parserName}Constants {

  protected ${charStreamName} input_stream;
  protected int curChar;

  private int defaultLexState = ${defaultLexState};
  private int curLexState     = ${defaultLexState};

  private int jjmatchedPos;
  private int jjmatchedKind;
  private int lengthOfMatch;

  private string jjimage = string.Empty;
  private string image   = string.Empty;
  private int    jjimageLen;

// Beginning of user token manager declarations
${decls}
// End of user token manager declarations

#if TOKEN_MANAGER_USES_PARSER
  /* Constructor with parser. */
  public ${parserName}TokenManager (${parserName} parserArg, ${charStreamName} stream) {
    parser = parserArg;
#else
  /* Constructor. */
  public ${parserName}TokenManager(${charStreamName} stream) {
#fi
    input_stream = stream;
  }

#if TOKEN_MANAGER_USES_PARSER
  /* Constructor with parser. */
  public ${parserName}TokenManager (${parserName} parserArg, ${charStreamName} stream, int lexState) {
    ReInit(parserArg, stream);
  }
#else
  /* Constructor. */
  public ${parserName}TokenManager (${charStreamName} stream, int lexState) {
    ReInit(stream);
    SwitchTo(lexState);
  }
#fi

  /* Reinitialise parser. */
#if TOKEN_MANAGER_USES_PARSER
  public void ReInit(${parserName} parserArg, ${charStreamName} stream) {
#else
  public void ReInit(${charStreamName} stream) {
#fi
#if TOKEN_MANAGER_USES_PARSER
    this.parser = parserArg;
#fi
    jjmatchedPos = 0;
    curLexState = defaultLexState;
    input_stream = stream;
  }

  /* Reinitialise parser. */
#if TOKEN_MANAGER_USES_PARSER
  public void ReInit( ${parserName} parserArg, ${charStreamName} stream, int lexState) {
#else
  public void ReInit(${charStreamName} stream, int lexState) {
#fi
#if TOKEN_MANAGER_USES_PARSER
    ReInit(parserArg, stream);
#else
    ReInit(stream);
#fi
    SwitchTo(lexState);
  }

  /* Switch to specified lex state. */
  public void SwitchTo(int lexState) {
    curLexState = lexState;
  }

  /* Get the next Token. */
  public Token getNextToken() {
    Token specialToken = null;
    Token matchedToken;
    int lastReadPosition = 0;

    EOFLoop:
    for (;;) {
      // First see if we have any input at all.
      try {
        curChar = input_stream.BeginToken();
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) {
          System.Console.Error.WriteLine(
              "Read 1st char for any kind: " + disp_char(curChar) + 
#if KEEP_LINE_COLUMN
              ", @ " + input_stream.getBeginLine() + ":" + input_stream.getBeginColumn() +
#fi
              " (tm)");
        }
#fi
#if IGNORE_CASE
        curChar = (int) System.Char.ToLower((char) curChar);
#fi
      } catch (System.Exception) {
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) System.Console.Error.WriteLine(
              disp_state(curLexState, lexStateNames) +
              " Reached EOF (1st)" +
#if KEEP_LINE_COLUMN
              ", @ " + input_stream.getBeginLine() + ":" + input_stream.getBeginColumn() +
#fi
              " (tm)");
#fi
        // No input. So return EOF token.
        jjmatchedKind = EOF;
        jjmatchedPos = -1;
        matchedToken = jjFillToken();
        matchedToken.specialToken = specialToken;
        return matchedToken;
      }
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) System.Console.Error.WriteLine(
            disp_state(curLexState, lexStateNames) +
            " Current input char: " + disp_char(curChar) +
#if KEEP_LINE_COLUMN
            ", @ " +
            input_stream.getBeginLine() + ":" + input_stream.getBeginColumn() +
#fi
            " (tm)");
#fi

      // Set matched kind to a MAX VALUE to implement largest, first occurring rule
      // i.e., smallest kind value matched should be used.
      image = jjimage;
      image = string.Empty;
      jjimageLen = 0;

      for (;;) { // inner loop
        jjmatchedKind = int.MaxValue;
        jjmatchedPos = 0;
#if !NO_DFA
        lastReadPosition = jjRunStringLiteralMatch();
#else
        lastReadPosition = jjMoveNfa(jjInitStates[curLexState], 0);
#fi
        if (jjmatchedPos == 0 && jjmatchedKind > canMatchAnyChar[curLexState]) {
          jjmatchedKind = canMatchAnyChar[curLexState];
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) System.Console.Error.WriteLine(
                "Matched current char: '" + disp_char(curChar) +
                "' as a wildcard kind: " + jjmatchedKind + " (tm)");
#fi
        }

         if (jjmatchedKind == int.MaxValue) {
          jjmatchedKind = jjInitialMatchForLexState[curLexState];
          jjmatchedPos = -1;
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) System.Console.Error.WriteLine(
                "Matched empty string as kind: " + jjmatchedKind + " (tm)");
#fi
        }
        if (jjmatchedKind != int.MaxValue) {
          // We have a match!
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) System.Console.Error.WriteLine(
                "Put back: " + (lastReadPosition - jjmatchedPos) + " looked ahead chars (tm)");
#fi
          // Put back any characters looked ahead.
          input_stream.backup(lastReadPosition - jjmatchedPos);
          
          if (isToken(jjmatchedKind)) {
            // Matched kind is a real TOKEN.
            matchedToken = jjFillToken();
            matchedToken.specialToken = specialToken;
            TokenLexicalActions(matchedToken);
            if (jjnewLexState[jjmatchedKind] != -1) {
              curLexState = jjnewLexState[jjmatchedKind];
            }
#if COMMON_TOKEN_ACTION
            CommonTokenAction(matchedToken);
#fi
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "Found a TOKEN MATCH ***: <" + jjmatchedKind +
                  " / \"" + ParseException.add_escapes(matchedToken.image) +
                  "\"> at lexical state: " + curLexState + "; returning (tm)");
#fi
            return matchedToken;
          }
          
          if (isSkip(jjmatchedKind)) {
            // Matched kind is a SKIP.
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "Found a SKIP match: <" + jjmatchedKind  +
                  "> at lexical state: " + curLexState + "; continuing (tm)");
#fi
            SkipLexicalActions(null);
            if (jjnewLexState[jjmatchedKind] != -1) {
              curLexState = jjnewLexState[jjmatchedKind];
            }
            goto EOFLoop;
          }
          
          if (isSpecial(jjmatchedKind)) {
            // Matched kind is a SPECIAL_TOKEN.
            matchedToken = jjFillToken();
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "Found a SPECIAL_TOKEN match: <" + jjmatchedKind +
                  " / \"" + ParseException.add_escapes(matchedToken.image) +
                  "\"> at lexical state: " + curLexState + "; continuing (tm)");
#fi
            if (specialToken == null) {
              specialToken = matchedToken;
            } else {
              matchedToken.specialToken = specialToken;
              specialToken = (specialToken.next = matchedToken);
            }
            SkipLexicalActions(matchedToken);
            if (jjnewLexState[jjmatchedKind] != -1) {
              curLexState = jjnewLexState[jjmatchedKind];
            }
             goto EOFLoop;
          }
          
          // Matched kind is a MORE.
          MoreLexicalActions();
          if (jjnewLexState[jjmatchedKind] != -1) {
            curLexState = jjnewLexState[jjmatchedKind];
          }
 #if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "Found a MORE match: <" + jjmatchedKind  +
                  "> at lexical state: " + curLexState + "; reading (tm)");
#fi
          lastReadPosition = 0;
          jjmatchedKind = int.MaxValue;
          try {
            curChar = input_stream.readChar();
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "Read next char for a MORE: " + disp_char(curChar) +
#if KEEP_LINE_COLUMN
                  ", @ " + input_stream.getBeginLine() + ":" + input_stream.getBeginColumn() +
#fi
                  " (tm)");
#fi
#if IGNORE_CASE
            curChar = (int) System.Char.ToLower((char) curChar);
#fi
            continue;
          } catch (System.IO.IOException) {
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  disp_state(curLexState, lexStateNames) +
                  " Reached EOF (in a MORE)" +
#if KEEP_LINE_COLUMN
                  ", @ " +
                  input_stream.getBeginLine() + ":" + input_stream.getBeginColumn() +
#fi
                  " (tm)");
#fi
            // TODO see how to handle this case: fall to reportError or break/continue the loop
          }
        }
        // Here jjmatchedKind == Integer.MAX_VALUE or EOF in MORE
        // reportError will throw a new TokenMgrError(...)
        reportError(lastReadPosition);
      } // inner loop
    } // EOFLoop
  }

  protected Token jjFillToken() {
    Token t;
    string curTokenImage;
#if KEEP_LINE_COLUMN
    int beginLine;
    int endLine;
    int beginColumn;
    int endColumn;
#fi
    if (jjmatchedPos < 0) {
      if (image == null) {
        curTokenImage = "";
      } else {
        curTokenImage = image.ToString();
      }
#if KEEP_LINE_COLUMN
      beginLine = endLine = input_stream.getEndLine();
      beginColumn = endColumn = input_stream.getEndColumn();
#fi
    } else {
      string im = jjstrLiteralImages[jjmatchedKind];
      curTokenImage = (im == null) ? input_stream.GetImage() : im;
#if KEEP_LINE_COLUMN
      beginLine = input_stream.getBeginLine();
      beginColumn = input_stream.getBeginColumn();
      endLine = input_stream.getEndLine();
      endColumn = input_stream.getEndColumn();
#fi
    }
#if TOKEN_FACTORY
    t = ${TOKEN_FACTORY}.newToken(jjmatchedKind, curTokenImage);
#elif BINARY_NEW_TOKEN
    t = Token.newToken(jjmatchedKind, curTokenImage);
#else
    t = Token.newToken(jjmatchedKind);
    t.kind = jjmatchedKind;
    t.image = curTokenImage;
#fi
#if KEEP_LINE_COLUMN
    t.beginLine = beginLine;
    t.endLine = endLine;
    t.beginColumn = beginColumn;
    t.endColumn = endColumn;
#fi
    return t;
  }

#if !NO_DFA
  private int jjRunStringLiteralMatch() {
    int curPos = 0;
    int key = (int) curLexState << 16 | curChar;
    int startState = jjInitStates[curLexState];
    if (startAndSize.ContainsKey(key)) {
      int[] arr = startAndSize[key];
      int index = arr[0];
      for (int i = 0; i < arr[1]; i++) {
        int len = stringLiterals[index++];
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) System.Console.Error.WriteLine(
              "  Looking for string literal match of token: <" + stringLiterals[index + len] +
              " / \"" + tokenImage[stringLiterals[index + len]] + "\"> (tm)");
#fi
        do {
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) System.Console.Error.WriteLine(
                "  Cur char: " + disp_char(curChar) + " (tm)");
#fi
          if (curChar != stringLiterals[index + curPos]) {
            break;
          }
          if (++curPos == len) {
            break;
          }
          if (!moveToNextChar()) {
            --curPos;
            break;
          }
        } while (curPos < len);
        if (curPos == len) {
          jjmatchedKind = stringLiterals[index + len];
          jjmatchedPos  = curPos;
          startState    = stringLiterals[index + len + 1];
#if DEBUG_TOKEN_MANAGER
          if (trace_enabled()) System.Console.Error.WriteLine(
                "  Currently matched the first: " + jjmatchedPos +
                " chars as token: <" + jjmatchedKind +
                " / \"" + tokenImage[jjmatchedKind] + "\"> (tm)");
#fi
          if (startState < 0 || !moveToNextChar()) {
            return curPos;
          }
          curPos++;
          break;
        } else {
          index += len + 2;
          input_stream.backup(curPos + 1);
          curPos = 0;
          if (!moveToNextChar()) {
            System.Diagnostics.Debug.Assert(false, "Unreachable code!");
          }
        }
      } // end for
#if DEBUG_TOKEN_MANAGER
    } else {
      if (trace_enabled()) System.Console.Error.WriteLine(
            "  No string literal start with char: " + disp_char(curChar) + " (tm)");
#fi
    }
    return jjMoveNfa(startState, curPos);
  }
#fi

  protected bool moveToNextChar() {
    try {
      curChar = input_stream.readChar();
#if IGNORE_CASE
      curChar = (int) System.Char.ToLower((char) curChar);
#fi
    } catch (System.IO.IOException) {
      return false;
    }
    return true;
  }

  private int[]  stateSet    = new int[${generatedStates}];
  private int[]  newStateSet = new int[${generatedStates}];
  private long[] moved       = new long[${generatedStates}];
  private long   moveIndex   = 1L;

  private static readonly long[][] jjChars = new long[${nfaSize}][];

  private static void initJjChars() {
    for (int i = 0; i < ${nfaSize}; i++) {
      jjChars[i] = new long[${charsVectorSize}];
      int ind = 0;
      // We originally generate something like RLE for the static arrays and
      // we actually expand them here.
      for (int j = 0; j < jjCharData[i].Length; j += 2) {
        for (int k = 0; k < (int) jjCharData[i][j]; k++) {
          jjChars[i][ind++] = jjCharData[i][j + 1];
        }
      }
    }
  }

  private int jjMoveNfa(int startState, int curPos) {

    if (startState < 0) {
#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) System.Console.Error.WriteLine(
            "    No NFA start state, at pos: " + curPos + " (tm)");
#fi
      return curPos;
    }

    // We have a long array indexed by the NFA state number to roughly indicate
    // the input position so when the input reaches part long.MaxValue (which
    // should be extremely rare), we need to reset them all back to zero.
    if (++moveIndex == long.MaxValue) {
      for (int i = 0; i < ${generatedStates}; i++) moved[i] = 0L;
      moveIndex = 1L;
    }

    // We initialize the kind to MAX value so that when a match is found, we can
    // simply check if it's less than the current match and store it in that case.
    // This helps implement the 'first occurring' rule properly.
    int cnt = 0;
    stateSet[cnt++] = startState;
    moved[startState] = moveIndex;

    // Some NFA states have epsilon transitions (move on empty string).
    // So we just start with all of them. Note that the nextStates array already adds
    // the epsilon closure. Only the initial state needs to do this explicitly.
    foreach (int s in jjcompositeState[startState]) {
      if (moved[s] != moveIndex) {
        stateSet[cnt++] = s;
        moved[s] = moveIndex;
      }
    }

#if DEBUG_TOKEN_MANAGER
    if (trace_enabled()) System.Console.Error.WriteLine(
          "    Starting NFA with start state: " + disp_state(startState, lexStateNames) + " (tm)");
#fi
    do {
#if DEBUG_TOKEN_MANAGER
      if (trace_enabled()) System.Console.Error.WriteLine(
            "    Cur char: " + disp_char(curChar) + " (tm)");
#fi
      int newCnt = 0;
      int kind = int.MaxValue;
      if (++moveIndex == long.MaxValue) {
        for (int i = 0; i < ${generatedStates}; i++) moved[i] = 0L;
        moveIndex = 1L;
      }

      int vectorIndex = curChar >> 6;
      long bitpattern = (1L << (curChar & 0x3f));
      do {
        int state = stateSet[--cnt];
#if DEBUG_TOKEN_MANAGER
        // TODO(sreeni) : Fix it to give better error message instead of UNKNOWN.
        if (trace_enabled()) System.Console.Error.WriteLine(
             "    Looking to move from state: " +  disp_state(state, lexStateNames) +
             ", for token: <" +
             (jjmatchKinds[state] != int.MaxValue
                  ? (jjmatchKinds[state] + " / " + ParseException.add_escapes(tokenImage[jjmatchKinds[state]]))
                  : "UNKNOWN") +
             "> (tm)");
#fi
        if ((jjChars[state][vectorIndex] & bitpattern) != 0L) {
          // Current input character can move this NFA state.
          // So add all the next states of the current states for use with the next input char.
          foreach (int newState in jjnextStateSet[state]) {
            if (moved[newState] != moveIndex) {
              // We add each state only once.
              newStateSet[newCnt++] = newState;
              moved[newState] = moveIndex;
            }
          }
          int newKind = jjmatchKinds[state];
          if (kind > newKind) {
            // It's a state so store the matched kind if it's smaller than what's already matched.
            kind = newKind;
#if DEBUG_TOKEN_MANAGER
            if (trace_enabled()) System.Console.Error.WriteLine(
                  "    Found a match of kind: " + kind + " " +
                  ParseException.add_escapes(tokenImage[kind]) +
                  " using the first: " + curPos + " characters" + " (tm)");
#fi
          }
        }
      } while (cnt > 0);

      if (kind != int.MaxValue) {
        // We found a match. So remember the kind and position of the match.
        jjmatchedKind = kind;
        jjmatchedPos = curPos;
        // Reset the kind to max value so we can continue looking for a longer match.
        kind = int.MaxValue;
      }

      // Swap the current and next state sets.
      int[] tmp = stateSet;
      stateSet = newStateSet;
      newStateSet = tmp;
      // Reset the number of states.
      cnt = newCnt;
      if (newCnt == 0) {
        // There were no transitions from any of the current states on the current input.
        // So we are done.
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) System.Console.Error.WriteLine(
              "    Done with NFA, at pos: " + curPos + " (tm)");
#fi
        return curPos;
      }
      // Read the next character and try to continue running the NFA.
      if (!moveToNextChar()) {
        // EOF reached!
#if DEBUG_TOKEN_MANAGER
        if (trace_enabled()) System.Console.Error.WriteLine(
              "    Reached EOF (nfa), at pos: " + curPos + " (tm)");
#fi
        return curPos;
      }
      ++curPos;
    } while (cnt > 0);

    System.Diagnostics.Debug.Assert(false,
        "Internal error. Please submit a bug at:https://github.com/javacc/javacc-8/issues");

    return curPos;
  }

  public static bool isToken(int kind) {
    return (jjtoToken[kind >> 6] & (1L << (kind & 0x3f))) != 0L;
  }

  public static bool isSkip(int kind) {
    return (jjtoSkip[kind >> 6] & (1L << (kind & 0x3f))) != 0L;
  }

  public static bool isSpecial(int kind) {
    return (jjtoSpecial[kind >> 6] & (1L << (kind & 0x3f))) != 0L;
  }

  public static bool isMore(int kind) {
    return (jjtoMore[kind >> 6] & (1L << (kind & 0x3f))) != 0L;
  }

  protected void reportError(int lastReadPosition) {
    int error_line = input_stream.getEndLine();
    int error_column = input_stream.getEndColumn();
    string error_after = null;
    bool EOFSeen = false;
    try {
      input_stream.readChar();
      input_stream.backup(1);
    } catch (System.IO.IOException) {
      EOFSeen = true;
      error_after = lastReadPosition <= 1 ? "" : input_stream.GetImage();
      if (curChar == '\n' || curChar == '\r') {
         error_line++;
         error_column = 0;
      }
      else
         error_column++;
    }
    if (!EOFSeen) {
      input_stream.backup(1);
      error_after = lastReadPosition <= 1 ? "" : input_stream.GetImage();
    }
    throw new TokenMgrError(EOFSeen, curLexState, error_line, error_column,
                            error_after, curChar, TokenMgrError.LEXICAL_ERROR);
  }

#if DEBUG_TOKEN_MANAGER
  private bool trace = true;

  public void enable_tracing() {
    trace = true;
  }

  public void disable_tracing() {
    trace = false;
  }

  public bool trace_enabled() {
    return trace;
  }

  static string disp_state(int state, string[] lexStateNames) {
    return "<" + (state < lexStateNames.Length ? lexStateNames[state] : ",") + ">-" + state;
  }

  static string disp_char(int ic) {
    return "`" + ic.ToString() + " / '" + add_escapes(ic) + "'´";
  }

  /**
   * Used to convert raw characters to their escaped version when these raw version
   *  cannot be used as part of an ASCII string literal.
   */
  internal static string add_escapes(int ch) {
    switch (ch) {
      case '\b':
        return "\\b";
      case '\t':
        return "\\t";
      case '\n':
        return "\\n";
      case '\f':
        return "\\f";
      case '\r':
        return "\\r";
      case '\"':
        return "\\\"";
      case '\'':
        return "\\\'";
      case '\\':
        return "\\\\";
      default:
        if (ch < 0x20 || ch > 0x7e) {
          return "\\U" + ch.ToString("X4");
        } else {
          return System.Convert.ToString(System.Convert.ToChar(ch));
        }
    }
  }
#fi
