#if PRINT_LICENSE
/*
 * Copyright (c) 2020-2025, Sreeni Viswanadha <sreeni@viswanadha.net>.
 * Copyright (c) 2024-2025, Marc Mazas <mazas.marc@gmail.com>.
 * All rights reserved.
 * 
 * Redistribution and use in source and binary forms, with or without
 * modification, are permitted provided that the following conditions are met:
 * 
 *     * Redistributions of source code must retain the above copyright notice,
 *       this list of conditions and the following disclaimer.
 *     * Redistributions in binary form must reproduce the above copyright
 *       notice, this list of conditions and the following disclaimer in the
 *       documentation and/or other materials provided with the distribution.
 *     * Neither the names of of the copyright holders nor the names of its
 *       contributors may be used to endorse or promote products derived from
 *       this software without specific prior written permission.
 * 
 * THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS "AS IS"
 * AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED TO, THE
 * IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE
 * ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT OWNER OR CONTRIBUTORS BE
 * LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR
 * CONSEQUENTIAL DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF
 * SUBSTITUTE GOODS OR SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS
 * INTERRUPTION) HOWEVER CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN
 * CONTRACT, STRICT LIABILITY, OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE)
 * ARISING IN ANY WAY OUT OF THE USE OF THIS SOFTWARE, EVEN IF ADVISED OF
 * THE POSSIBILITY OF SUCH DAMAGE.
 */
#fi
#if NAMESPACE
namespace ${NAMESPACE} {
#fi

/**
 * The class generated by JavaCC/chsarp (by CodeGenerator.java with TokenMgrError.template)
 *  that is used when TokenManager errors are encountered.
 */
${SUPPORT_CLASS_VISIBILITY_PUBLIC?public :}class TokenMgrError : System.Exception {

  /**
   * Ordinals for various reasons why an Error of this type can be thrown.
   */

  /**
   * Lexical error occurred.
   */
  public static int LEXICAL_ERROR = 0;

  /**
   * Tried to change to an invalid lexical state.
   */
  public static int INVALID_LEXICAL_STATE = 2;

  /**
   * Detected (and bailed out of) an infinite loop in the token manager.
   */
  public static int LOOP_DETECTED = 3;

  /**
   * Indicates the reason why the exception is thrown. It will have one of the above 4 values.
   */
  int errorCode;

  /**
   * Replaces unprintable characters by their escaped (or unicode escaped)
   * equivalents in the given string.
   */
  internal static string addEscapes(string str) {
    string retval = string.Empty;
    char ch;
    for (int i = 0; i < str.Length; i++) {
      switch (str[i])
      {
        case '\b':
          retval += "\\b";
          continue;
        case '\t':
          retval += "\\t";
          continue;
        case '\n':
          retval += "\\n";
          continue;
        case '\f':
          retval += "\\f";
          continue;
        case '\r':
          retval += "\\r";
          continue;
        case '\"':
          retval += "\\\"";
          continue;
        case '\'':
          retval += "\\\'";
          continue;
        case '\\':
          retval += "\\\\";
          continue;
        default:
          if ((ch = str[i]) < 0x20 || ch > 0x7e) {
            retval += "\\U" + ((int)ch).ToString("X4");;
          } else {
            retval += ch;
          }
          continue;
      }
    }
    return retval.ToString();
  }

  /**
   * Returns a detailed message for the Error when it is thrown by the token manager
   *  to indicate a lexical error.<br>
   * Note: You can customize the lexical error message by modifying this method.
   *
   * @param eofSeen - true if EOF caused the lexical error
   * @param curLexState - lexical state in which this error occurred
   * @param errorLine - line number when the error occurred
   * @param errorColumn - column number when the error occurred
   * @param errorAfter - prefix that was seen before this error occurred
   * @param curchar - the offending character
   */
  internal static string LexicalErr(bool EOFSeen, int lexState, int errorLine, int errorColumn, string errorAfter, int curChar) {
    char cc = (char)curChar;
    return("Lexical error at line " + errorLine + ", column " + errorColumn + ".  Encountered: " +
           (EOFSeen ? "<EOF>"
                    : ("\"" + addEscapes(cc.ToString()) + "\"") + " (" + (int)curChar + ")") +
           " after: \"" + addEscapes(errorAfter) + "\"");
  }

  /** No arg constructor. */
  public TokenMgrError() {
  }

  /** Constructor with message and reason. */
  public TokenMgrError(string message, int reason) : base(message) {
    errorCode = reason;
  }

  /** Full Constructor. */
  public TokenMgrError(bool EOFSeen, int lexState, int errorLine, int errorColumn, string errorAfter, int curChar, int reason) :
    this(LexicalErr(EOFSeen, lexState, errorLine, errorColumn, errorAfter, curChar), reason) {
  }
  
} // end class

#if NAMESPACE
} // end namespace
#fi
